{% extends "authentication/mdbbase.html" %}
{% block title%}Signup{% endblock title %}
{% load static %}

{% block content %}
<section class="vh-100" style="background-color: #F87E1A;">
  <form data-multi-step action="" method="POST">
    {% csrf_token %}
    <div data-step="1" id="personal-details" class="mb-5">
      <div class="pt-5">
        <div class="card card-body mt-5 pt-3 pb-5 px-5 w-50 mx-auto shadow">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/logo.png' %}" class="img-fluid logo_signup_page" alt="">
          </div>
          <h3 class="text-center mb-3">Personal Details</h3>
          <div class="mb-3 form-floating">
            {{usr_form.name}}
            <label for="id_name">Full Name</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.gender}}
            <label for="id_gender">Select Gender</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.age}}
            <label for="id_age">Enter Your Age</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.medical_conditions}}
            <label for="id_medical">Medical Issues (NA if no issues)</label>
            <small></small>
          </div>
          <div class="mt-3 w-50 mx-auto">
            <button type="button" class="w-100 btn btn-lg btn-dark btn-block" id="next">Next</button>
          </div>
        </div>
      </div>
    </div>
    <div data-step="2" id="fitness-details" style="display: none;">
      <div class="pt-5">
        <div class="card card-body mt-5 pt-3 pb-5 px-5 w-50 mx-auto shadow">
          <div class="d-flex justify-content-center">
            <img src="{% static 'images/logo.png' %}" class="img-fluid logo_signup_page" alt="">
        </div>
          <h3 class="text-center mb-3">Fitness Details</h3>
          <div class="mb-3 form-floating">
            {{usr_form.height}}
            <label for="id_height">Enter Height (in cm)</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.weight}}
            <label for="id_weight">Enter Weight (in kg)</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.activity_level}}
            <label for="id_activty">Activity Level</label>
          </div>
          <div class="form-floating mb-3">
            {{usr_form.main_goal}}
            <label for="id_main_goal">Main Goal</label>
          </div>
          <div class="mt-3 d-flex justify-content-around">
            <button type="button" class="w-50 btn btn-lg btn-light me-5" id="prev">Previous</button>
            <button type="submit" class="w-50 btn btn-lg btn-dark">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
<script>
  console.log("{{request.user.id}}")
  $("input").addClass("form-control")
  $("select").addClass("form-select")
  $("textarea").addClass("form-control")

  $(document).ready(function () {
    $("#next").click(function () {
      $("#personal-details").hide()
      $("#fitness-details").show()
    })
    $("#prev").click(function () {
      $("#personal-details").show()
      $("#fitness-details").hide()
    })


  })

</script>
{% endblock content %}