{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/training.css'%}">
<div class="courses-container mt-5">
  <div class="title">
    <h3>Select Exercise</h3>
  </div>
  {% for class in classes %}
  <div class="course_container">
    <div class="course">
      <div class="course-preview">
        <img src="{{objects.image.url}}" alt="...">
      </div>
      <div class="course-info training_section">
        <a href="{% url 'check_form_detection' class %}">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          {{class}}
        </a>
        <div class="info">
          <h4>Focus Area: </h4>
          <h6>Leg, Hip</h6>
        </div>


        <div class="info">
          <h4>Equipment: </h4>
          <h6>Dumbbells</h6>
        </div>
      </div>

    </div>
  </div>
  {% endfor %}

</div>



{% endblock content %}