{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/training.css'%}">
    <div class="courses-container mt-5">
        <div class="title">
            <h3>Exercise</h3>
        </div>
        {% for obj in objects %}
        <div class="course_container">
            <div class="course">
                <div class="course-preview">
                    <img src="{{obj.image.url}}" alt="">
                </div>
                <div class="course-info training_section">

                    <a href="{% url 'train' obj.id %}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        {{obj.title}}
                    </a>

                    <div class="info">
                        <h4>Focus Area: </h4>
                        <h6> {{obj.f_area}}</h6>
                    </div>


                    <div class="info">
                        <h4>Equipment: </h4>
                        <h6> {{obj.equipment}}</h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>



    {% endblock content %}